body {
    margin-bottom: 60px;
}

ol>li {
    font-size: 27px;
    font-weight: 600;
}

img {
    width: 400px;
    padding: 18px;
    border-radius: 35px;
}

.direita {
    float: right;
}

.esquerda {
    float: left;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 245, 233, 0.897);
    width: 60vw;
    min-height: 25vh;
    margin: 30px auto 30px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box {
    display: block;
    width: 100%;
    text-align: justify;
    overflow: auto;
    /* Faz a imagem ocupar todo o espaço que está utilizando dentro da div */
    margin-top: 10px;
}

.text {
    width: 50%;
}

.container h1,
.container h2 {
    text-align: center;
    margin-bottom: 15px;
}

.diferenca-internet-web {
    width: 30vw;
}

.main {
    text-align: center;
    margin: 40px;
    position: relative;
}

table,
td,
th {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.box table {
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#perfil {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 10px;
}

#box1 img {
    width: 120px;
    height: 120px;
    padding: 0;
    border-radius: 50%;
    border: 5px solid rgb(45, 21, 56);

}

#curriculo {
    display: grid;
    width: 50vw;
    grid-template-areas:
        "h1 h1"
        "nav nav"
        "box1 box2";
    grid-template-columns: 34% 65%;
    border-radius: 20px;
    justify-content: center;
    margin: 20px auto 20px auto;
    row-gap: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#curriculo h1 {
    grid-area: h1;
}

#curriculo nav{
    grid-area: nav;
    width: 99.7%;
    background-color: rgb(103, 50, 153);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: 3px solid rgb(103, 50, 153);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #007bff;
  text-decoration: underline;
} 

nav ul {
  list-style-type: square;
  margin-left: 25px;
  color: black;
}

#curriculo .box {
    min-height: 50px;
    
}

#box1 {
    grid-area: box1;
    display: flex;
    background-color: rgb(164, 80, 243);
    flex-direction: column;
    border-bottom-left-radius: 20px;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: none;
    border-left: 3px solid rgb(103, 50, 153);
    border-bottom: 3px solid rgb(103, 50, 153);
    margin-top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#box1 h2 {
    font-size: 27px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

#box2 {
    display: flex;
    flex-direction: column;
    grid-area: box2;
    padding: 10px 0px 10px 0px;
    background-color: rgb(216, 216, 216);
    border-bottom-right-radius: 20px;
    border-top: none;
    border-right: 3px solid rgb(103, 50, 153);
    border-bottom: 3px solid rgb(103, 50, 153);
    text-align: justify;
    margin-top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#box2 table{
    background-color: white;
    border: 2px solid rgb(103, 50, 153);
}
#box2 thead{
    background-color: rgb(103, 50, 153);
    color: white;
}

#box2 tbody{
    font-weight: 600;
}

#informacoes {
    display: flex;
    border: 5px solid rgb(103, 50, 153);
    width: 85%;
    height: 50%;
    flex-direction: column;
    margin: auto auto 10px auto;
    border-radius: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    background-color: rgb(129, 65, 189);
    align-content: center;
}

#informacoes h3 {
    font-size: 20px;
    margin: auto;
}

#informacoes p {
    font-size: 17px;
    margin: auto auto auto 5px;
}

#informacoes a {
    font-size: 16px;
}

#informacoes a:link,
#informacoes a:visited {
    color: white;
}

#informacoes a:hover {
    color: blue;
}

.texto-curriculo {
    text-align: justify;
    min-height: 200px;
    padding: 0px 0px 0px 5px;
    margin-left: 12px;
    margin-right: 12px;
}

.texto-curriculo h2 {
    text-align: left;
    border-left: 6px solid rgb(129, 65, 189);
    padding-bottom: 0px;
    padding-left: 5px;
}

.texto-curriculo p,
.texto-curriculo li {
    padding: 3px 10px 10px 10px;
    margin-right: 15%;
}

.texto-curriculo hr{
    border-color: #333;
}

.menu-paginacao {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu-paginacao a {
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.menu-paginacao a:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.alterar {
    font-size: 18px;
    padding: 8px 18px;
}

.botao{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    background-color: rgba(129, 65, 189, 0.600);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.8s ease;
}
.botao:hover {
    background-color: rgb(97, 46, 145);
}

summary h2 {
    display: inline;
    margin: 0;
    padding: 0;
}

.texto-curriculo summary h2{
    padding-left: 5px;
    border-left: 6px solid rgb(129, 65, 189);
}

summary{
    display: flex; 
    align-content: center; 
    cursor: pointer;
}

summary::after {
    content: '+'; 
    font-size: 1.5em; 
    font-weight: bold;
    margin-left: 10px;
    color: rgb(129, 65, 189); 
    transition: transform 0.3s;
    min-width: 15px;
    text-align: center;
}

details[open] summary::after {
    content: '-';
}

#experiencia span{
    background-color: #52a6ff;
    
}